table,th,
td {
  padding: 1px 20px;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}

img {
  width: 13px;
}

img:hover {
  cursor:pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 3px;
}

label {
  margin-bottom: 4px;
}

th {
  padding: 1px 1px;
}

.img-Class {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

input {
  padding: 15px;
  width: 98%;
  border-radius: 10px;
}

.search {
  margin-bottom: 24px;
}

.btn{
  color:whitesmoke;
  background-color: darkgreen;
  border-color: white;
  width:15%;
  height:20%;
}
